/*
*   DarkDev - A theme for Chrome Developer Tools
*   By Simon Smith - @blinkdesign;
*/

/*  General
------------------------------------------------*/

/* Common typography */
#-blink-dev-tools .source-code,
#-blink-dev-tools #console-message,
#-blink-dev-tools .styles-section *,
#-blink-dev-tools .text-editor-contents,
#-blink-dev-tools .webkit-line-number,
#-blink-dev-tools #console-view *,
#-blink-dev-tools .monospace,
#-blink-dev-tools .properties-tree li {
    font-size: 12px !important;
    font-style: normal !important;
    font-family: Monaco, Consolas, "Lucida Console", monospace !important;
    line-height: 1.6 !important;
}

/* Background */
#-blink-dev-tools #elements-content.source-code,
#-blink-dev-tools .text-editor-contents,
#-blink-dev-tools #console-messages {
    background: #2D2828 !important;
}

/* Off white text colour */
#-blink-dev-tools .elements .outline-disclosure > ol,
#-blink-dev-tools .webkit-html-text-node,
#-blink-dev-tools .webkit-css-number,
#-blink-dev-tools .webkit-javascript-ident,
#-blink-dev-tools .webkit-line-content,
#-blink-dev-tools #console-messages .title,
#-blink-dev-tools #console-messages .separator,
#-blink-dev-tools #console-messages .value,
#-blink-dev-tools #console-messages .source-code {
    color: #E6E1DC !important;
}

/*  Source Code
------------------------------------------------*/

/* HTML */

#-blink-dev-tools .webkit-html-tag {
    color: #858EF4 !important;
}

#-blink-dev-tools .webkit-html-attribute.editing * {
    color: #000 !important;
}

#-blink-dev-tools .webkit-html-attribute-name {
    color: #CC99FF !important;
}

#-blink-dev-tools .text-editor-contents .webkit-html-resource-link,
#-blink-dev-tools .text-editor-contents .webkit-html-external-link {
    color: #84e198 !important;
}

#-blink-dev-tools .webkit-html-attribute-value {
    color: #AD935C !important;
}

#-blink-dev-tools .webkit-html-comment {
    color: #797979 !important;
}

#-blink-dev-tools #elements-content .hovered,
#-blink-dev-tools #elements-content .selected,
#-blink-dev-tools #console-view .hovered,
#-blink-dev-tools #console-view .selected {
    background: #444 !important;
    border-radius: 3px;
}

#-blink-dev-tools .properties-tree li.parent::before,
.section > .header::before {
    background-size: 320px 125px !important;
}

/* CSS */

#-blink-dev-tools .webkit-css-comment {
    color: #797979 !important;
}

#-blink-dev-tools .webkit-css-color {
    color: #AFA2FE !important;
}

#-blink-dev-tools .webkit-css-selector {
    color: #E4A109 !important;
}

#-blink-dev-tools .webkit-css-property {
    color: #9a2f33 !important;
}

#-blink-dev-tools .webkit-css-keyword {
    color: #D66B5F !important;
}

#-blink-dev-tools .webkit-css-important {
    background: #CC0033 !important;
    color: #fff !important;
}

/* Javascript */

#-blink-dev-tools .webkit-javascript-comment {
    color: #797979 !important;
}

#-blink-dev-tools .webkit-javascript-keyword {
    color: #16B1C7 !important;
}

#-blink-dev-tools .webkit-javascript-string {
    color: #8C8769 !important;
}

#-blink-dev-tools .webkit-javascript-number {
    color: #CC6600 !important;
}

/*  Source Code - Pane
------------------------------------------------*/

/* Generic */

#-blink-dev-tools #main-panels .pane > .title,
#-blink-dev-tools #main-panels .sidebar-separator,
#-blink-dev-tools #main-panels .sidebar-pane-subtitle {
    font-family: sans-serif !important;
}

/* Right Pane */

#-blink-dev-tools .split-view-sidebar-right .webkit-css-property {
    color: #D66B5F !important;
}

#-blink-dev-tools .selector-matches {
    color: green !important;
    font-weight: bold;
}

#-blink-dev-tools .styles-section .webkit-html-resource-link {
    color: #3f87c7 !important;
}

/*  Network
------------------------------------------------*/
#-blink-dev-tools .header-value {
    font-size: 11px !important;
}

/*  Console
------------------------------------------------*/
#-blink-dev-tools .console-user-command > .console-message-text {
    color: #8bb5cd !important;
}

#-blink-dev-tools #console-messages a {
    color: #ccc !important;
}

#-blink-dev-tools #console-messages a:hover {
    color: #fff !important;
}

#-blink-dev-tools .console-formatted-number,
#-blink-dev-tools .console-formatted-boolean {
    color: #CC6600 !important;
}

#-blink-dev-tools .console-error-level .console-message-text,
#-blink-dev-tools .console-error-level .section .header .title {
    color: #fff !important;
    background-color: #921515 !important;
    padding-left: 3px;
    border-radius: 5px;
}

#-blink-dev-tools .console-error-level .children .source-code {
    background: #66150e !important;
    padding: 0 4px !important;
}

#-blink-dev-tools .console-error-level .properties-tree {
    font-weight: normal !important;
}

#-blink-dev-tools .console-message,
#-blink-dev-tools .console-user-command {
    border-color: #3a3a3a !important;
    padding-top: 5px !important;
}

#-blink-dev-tools .console-message {
    padding-bottom: 5px !important;
    margin-bottom: 3px;
}

#-blink-dev-tools .console-formatted-object {
    color: #aaa !important;
}

#-blink-dev-tools #console-messages .console-debug-level .webkit-html-resource-link:not(.console-message-url) {
    color: #84e198 !important;
}

#-blink-dev-tools .console-object-preview .console-formatted-object {
    color: #fff !important;
}

#-blink-dev-tools .console-formatted-string {
    color: #8C8769 !important;
}

#-blink-dev-tools #console-view .name {
    color: #d67fe2 !important;
}

#-blink-dev-tools .console-message .console-formatted-object .name,
#-blink-dev-tools .console-message .section .properties .name {
    color: rgb(168, 210, 248) !important;
}

/*  Resource
------------------------------------------------*/
#-blink-dev-tools .resource-headers-view .outline-disclosure .header-name {
    color: #6a130c !important;
}
